* {
    margin:0;
    padding:0;
}




body {
    background-color:#1c1c1c;
    color:#ffffff;
}

.grid_container {
    display: grid;
    grid-template-columns:3fr;
    grid-template-areas: "header header nav"
                         "section section section"
                         "footer footer footer";
}

header {
    display:flex;
    grid-area: header;
    padding: 20px;
    gap:20px;
    align-items:center;
    justify-content: space-between;
}

.txt {
    color:#f1f1f1;
}

nav {
    display: flex;
    align-items: center;
    grid-area: nav;
    gap:20px;
}
.nav__a{
    font-weight: 600;
    text-decoration: none;
    align-items: end;
    color:#00ffff;
}

.nav__a:hover {
    text-decoration:underline;
    color:#1e90ff;
}

.form__button svg {
    position:absolute;
    right:10px;
    top:50%
    translatey(-50%)
}

section {
    grid-area:section;
}

#carouselExample {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width:45%;
}

footer {
    grid-area:foo;
}

.form_container h1{
    text-align:center;
    color:#f1f1f1;
}

.form-reseña {
    display:flex;
    flex-direction: column;
    padding:1.25rem;
    border:.125rem solid #000000;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width:45%;
}

input:focus {
    background-color:whitesmoke;
}

.form-reseña--feedback {
    resize:none;
    height:150px;
    overflow-y:auto;
}

.form-reseña__button:hover {
    color:blue;
}

@media (max-width:576px) {
    .link_cont {
        gap:5px;
    }
}
